.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-customer-5 {
  width: 3.89453125em;
}

.icon-customer-4 {
  width: 3.7373046875em;
}

.icon-customer-3 {
  width: 3.40625em;
}

.icon-customer-2 {
  width: 3.7841796875em;
}

.icon-customer-1 {
  width: 4.052734375em;
}

.icon-icon-6 {
  width: 0.75em;
}

.icon-icon-5 {
  width: 0.75em;
}

.icon-icon-4 {
  width: 0.8828125em;
}

.icon-vantage {
  width: 3.8779296875em;
}
